@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. if you would like to</p>
<a href="/Home/ShopTillYouDrop/"> novi link</a>
