@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="Home/ShopTillYouDrop">go to the shopt till you drop page</a>
    <h1 class="display-4">Welcome to the shop till drop page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
